<div [ngStyle]="{'text-align': 'center', 'box-shadow': '0 4px 8px grey'}" [ngClass]="{'dark-mode': darkMode}" class="about-section">
	<p class="about"><strong>About Me</strong></p>
	<div class="intro">
	  <p>Hi, I am {{personal.first}}, a 2nd year Software Development and Network Engineering Student at Sheridan College. I am currently learning Angular, DSA, .NET technologies using C#</p>
	</div>
	<div class="interests">
	  <p>I love to play badminton, watch Science Fiction Series/Movies. Some of my favourite shows are Avatar, Interstellar. I also like to travel whenever given a chance to!!</p>
	</div>
  </div>
  