/* General styling */
div[ngStyle] {
	text-align: center;
	box-shadow: 0 4px 8px grey;
  }
  
  div[ngClass] {
	transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Project Component */
  .project {
	text-align: center;
	font-size: 19px;
	margin-top: 10px;
	padding-top: 15px;
  }
  
  /* Container styling */
  .container-1, .container-2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  /* Card styling */
  .mat-card {
	width: 400px;
	margin: 10px;
	padding: 10px;
	margin-bottom: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	transition: box-shadow 0.3s ease;
  }
  
  .mat-card:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .mat-card-title, .mat-card-subtitle {
	text-align: left;
  }
  
  .mat-card-title {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .mat-card-subtitle {
	margin-bottom: 10px;
  }
  
  .mat-card-content {
	flex-grow: 1;
	margin-bottom: 15px;
	text-align: center;
  }
  
  .img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
  }
  
  .p-class {
	font-size: 14px;
	line-height: 1.5;
	padding: 0 20px;
	text-align: left;
  }
  
  .mat-card-actions {
	display: flex;
	justify-content: flex-start;
	padding: 0 20px;
  }
  
  /* Button styling */
  .button {
	color: white;
	background-color: #d9ddcb;
	padding: 5px 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	text-decoration: none;
  }
  
  .button:hover {
	background-color: #f8f8f8;
	color: #333;
  }
  
  /* Dark mode styling */
  .dark-mode {
	background-color: #333;
	color: #f5f5f5;
	box-shadow: 0 0 10px rgba(53, 38, 38, 0.1);
  }
  
  .dark-mode .mat-card {
	background-color: #48726e;
	color: #f5f5f5;
	box-shadow: 30px 30px 30px rgba(142, 139, 60, 0.1);
  }
  
  .dark-mode .mat-card-title,
  .dark-mode .mat-card-subtitle,
  .dark-mode .p-class {
	color: #f5f5f5;
  }
  
  .dark-mode .button {
	background-color: #df9768;
	color: #f5f5f5;
  }
  
  .dark-mode .button:hover {
	background-color: #888;
	color: #f5f5f5;
  }