<!--
<div [ngClass]="{'dark-mode': darkMode}" class="contact">
	<p class="heading">Connect with me!</p>
	<div class="socials-container">
	  <section class="socials">
		<a href="{{social.linkedin}}">
		  <img src="../../assets/images/linkedin.png" class="image" alt="LinkedIn profile img">
		  <p class="img">LinkedIn</p>
		</a>
	  </section>
	  <section class="socials">
		<a href="{{social.gmail}}">
		  <img src="../../assets/images/gmail.png" class="image" alt="Gmail logo img">
		  <p class="img">Gmail</p>
		</a>
	  </section>
	</div>
  </div>
  -->